/* @font-face {
  font-family: "SF Pro Text";
  src: url(/assets/fonts/SFProText-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(/assets/fonts/SFProText-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
} */

/* general style */
:root {
  --primary-color: rgb(0, 113, 227);
  --primary-font: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --secondary-font: -apple-system, BlinkMacSystemFont, "SF Pro Display",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --footer-font: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-weight: 400;
}

.container {
  max-width: 996px;
  margin: 0 auto;
}

.btn {
  font-size: 17px;
  line-height: 1;
  font-weight: 400;
  border: 1px solid var(--primary-color);
  padding: 11px 21px;
  border-radius: 980px;
  transition: all 0.5 ease-in-out;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  background-color: transparent;
  color: #2997ff;
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.btn-white:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.navbar {
  padding: 0px 16px;
  font-size: 12px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-apple {
  width: 15px;
  height: 44px;
}

.icon-search {
  width: 15px;
  height: 44px;
}

.navbar a {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

/* section iphone 15 */
.iphone {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 580px;
}

#iphone-15-black {
  margin-top: 44px;
  background-image: url("./assets/img/hero_iphone.jpg");
}

#iphone-15-white {
  margin-top: 20px;
  background-image: url("./assets/img/hero_iphone_white.jpg");
}

#macbook-air {
  background-image: url("./assets/img/macbook_air.jpg");
  margin-top: 20px;
}

#iphone-15-white p {
  color: #000;
}
#iphone-15-white h2 {
  color: #000;
}

#macbook-air p {
  color: #6e6e73;
  font-size: 21px;
  margin-top: 15px;
}

#macbook-air h2 {
  color: #000;
}
#macbook-air h5 {
  color: #000;
  font-size: 28px;
  margin-top: 4px;
}

.iphone-content {
  display: flex;
  color: white;
  flex-direction: column;
  padding-top: 50px;
  text-align: center;
}

.iphone-content h2 {
  font-size: 56px;
  line-height: 1;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
    "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.iphone-content p {
  font-size: 28px;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
    "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: 6px;
  margin-bottom: 19px;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-button .btn-secondary {
  margin-left: 13px;
}

/* section grid product */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 12px;
}

.grid-items-product {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 580px;
  display: flex;
  flex-direction: column;
  color: #000;
  justify-content: flex-start;
  align-items: center;
}

.watch-nine {
  background-image: url("./assets/img/apple_watch.jpg");
}

.watch-ultra {
  background-image: url("./assets/img/apple_watch_white.jpg");
}

.ipad {
  background-image: url("./assets/img/ipad.jpg");
}

.ipad-pro {
  background-image: url("./assets/img/ipad_black.jpg");
}
.macbook {
  background-image: url("./assets/img/macbook_white.jpg");
}
.airpods {
  background-image: url("./assets/img/airpods.jpg");
}

.watch-nine h4 {
  color: #fff;
}

.watch-ultra h4 {
  color: #000;
}

.airpods {
  color: white;
}

.grid-items-product img {
  margin-top: 59px;
}

.grid-items-product h4 {
  font-size: 21px;
  margin-bottom: 17px;
}

.logo-product {
  margin-bottom: 10px;
  height: 53px;
  width: auto;
}

.grid-items-product button {
  margin-top: 17px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.product-item h2 {
  margin-top: 53px;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 4px;
}

.product-item p {
  font-size: 21px;
  line-height: 1.2;
  letter-spacing: 0.011em;
  font-family: var(--secondary-font);
}

.ipad-pro h2 {
  color: #fff;
}

.ipad-pro p {
  color: #fff;
}

/* Carousel */
#apple-tv {
  margin-top: 12px;
  margin-bottom: 12px;
  overflow: hidden;
}

.carousel {
  position: relative;
  max-width: 1265px;
  margin: 0 auto;
  height: 668px;
  margin-bottom: 12px;
}

.carousel-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
  /* visibility: hidden; */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 55px;
  padding-bottom: 50px;
}

.carousel-content strong {
  font-weight: 700;
}

.carousel-content p {
  color: #fff;
  font-size: 20px;
  line-height: 1.1;
}

.carousel-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.carousel-control span {
  background-color: rgba(0, 0, 0, 0.42);
  height: 8px;
  width: 8px;
  border-radius: 100%;
  cursor: pointer;
}

.carousel-control .active {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-item.active {
  visibility: visible;
  z-index: 22;
  position: relative;
  transform: translateX(0%);
}

.carousel-item.previous {
  visibility: visible;
  z-index: 11;
  cursor: pointer;
  transform: translateX(-100%);
}

.carousel-item.next {
  visibility: visible;
  z-index: 10;
  cursor: pointer;
  transform: translateX(100%);
}

.carousel-item.move-left {
  transform: translateX(-100%);
  visibility: visible;
}

.carousel-item.move-right {
  transform: translateX(100%);
  visibility: visible;
}
.carousel-item.enter-right {
  transform: translateX(0%);
  visibility: visible;
}
.carousel-item.enter-left {
  transform: translateX(0%);
  visibility: visible;
}

/* Footer */
footer {
  background-color: rgb(245, 245, 247);
  font-size: 12px;
  font-family: var(--footer-font);
  padding-top: 12px;
  padding-bottom: 12px;
}

.subscribe {
  color: rgba(0, 0, 0, 0.56);
}

.line {
  border-color: rgba(0, 0, 0, 0.16);
  margin: 14px 0;
}

footer ul {
  list-style: none;
}

footer li {
  font-family: var(--footer-font);
  color: rgba(0, 0, 0, 0.72);
}

.list-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.list-footer ul {
  display: flex;
  flex-direction: column;
  gap: 9.6px;
  margin-bottom: 20px;
}

.footer-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.88);
}

.retailer {
  color: rgba(0, 0, 0, 0.56);
  font-size: 12px;
}
.list-copyright {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.56);
  padding-bottom: 11px;
}
.list-accordion {
  display: none;
}
